@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --dark: #111;
    --semidark: #333;
    --green: #9b9;
    --blue: #a8b;
    --red: #f66;
    --lightgray: #ddd;

    --header-height: 4rem;
    --banner-height: 70vmin;
    --player-height: 3rem;

    --play-btn-size: 50px;

    --fz-card-title: 1.7rem;
}
body {
    background-color: var(--semidark);
    color: var(--lightgray);
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 1.5rem;
}

/* --------------------GRID----------------- */
.content-grid,
.full-width {
    display: grid;
    grid-template-columns: 
        [full-width-start]
        minmax(1rem, 1fr)
        [content-start]
        minmax(17rem, 55rem)
        [content-end]
        minmax(1rem, 1fr)
        [full-width-end];
}
.content-grid > *,
.full-width > * {
    grid-column: content; 
}
.content-grid >.full-width {
    grid-column: full-width;
}

/* ----------------------TITLES--------------------- */
.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1000;
}
.page-title {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 2rem 0;
    letter-spacing: .25rem;
    text-wrap: balance;
}

/* ---------------MARKDOWN-FORMATING----------------- */
h3 {
    margin: 1.5rem 0;
    font-size: 1.7rem;
    color: var(--green);
    font-style: italic;
    font-weight: 700;
    text-wrap: balance;
}

/* ----------------LINKS-AND-BOTTOM-------------------- */
a,
button,
summary {
    transition: opacity .2s;
    cursor: pointer;
}
a:hover,
button:hover,
summary:hover {
    opacity: .85;
}

/* --------------PARAGRAPHS-AND-HEADERS------------- */
body > p {
    margin-bottom: 1.5rem;
    text-wrap: pretty;
}
body > audio {
    margin-bottom: 1.5rem;
    min-width: 100%;
    background-color: #fff;
}

/* -------------------------FOCUS--------------------- */
*:focus {
    opacity: .7;
}
