@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --dark: #111;
    --semidark: #333;
    --green: #9b9;
    --blue: #a8b;
    --red: #f66;
    --lightgray: #ddd;

    --header-height: 4rem;
}
body {
    background-color: var(--semidark);
    color: var(--lightgray);
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;
}

/* --------------------GRID----------------- */
.content-grid,
.full-width {
    display: grid;
    grid-template-columns: 
        [full-width-start]
        minmax(1rem, 1fr)
        [content-start]
        minmax(17rem, 55rem)
        [content-end]
        minmax(1rem, 1fr)
        [full-width-end];
}
.content-grid > *,
.full-width > * {
    grid-column: content; 
}
.content-grid >.full-width {
    grid-column: full-width;
}

/* ----------------------TITLES--------------------- */
.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1000;
}
.header-title {
    color: var(--blue);
    font-size: 1.7rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
}
.page-title {
    color: var(--blue);
    text-align: center;
    font-size: 2rem;
    margin-top: var(--header-height);
}
.article-title {
    color: var(--green);
    text-align: center;
    font-size: 1.7rem;
    margin-top: 2rem;
}

/* ----------------HEADER-BERGER-MENU-------------------- */
.navigation {
    background-color: var(--dark);
}
.hidden-nav {
    display: none;
}
.nav-list {
    display: flex;
    flex-direction: column;
}