---
import MainLayout from '../layouts/MainLayout.astro'

const pageTitle = 'Страница не найдена'
const imgUrl = '../img/404.webp'
---

<MainLayout pageTitle={pageTitle} imgUrl={imgUrl}>
	<h1 class="page-title">{pageTitle}</h1>
	<p>К сожалению, сервер не может найти данные согласно Вашему запросу.</p>
	<p style="margin-bottom: 3rem;">Попробуйте вернуться <a href="/">к списку псалмов</a>.</p>	
</MainLayout>
<style>
	a {
		color: var(--green)
	}
</style>
