---
import '../styles/reset.css'
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'

const pageTitle = 'Об авторе'
---

<Layout pageTitle={pageTitle}>
	<p>Автор - Евгений Кошелев</p>
</Layout>
