---
import '../styles/reset.css'
import '../styles/global.css'
import MainLayout from '../layouts/MainLayout.astro'

const pageTitle = 'Об авторе'
---

<MainLayout pageTitle={pageTitle}>
	<p>Автор - Евгений Кошелев</p>
</MainLayout>
