---
import MainLayout from '../layouts/MainLayout.astro'

const pageTitle = 'Об авторе'
const imgUrl = '../img/about-author.webp'
---

<MainLayout pageTitle={pageTitle} imgUrl={imgUrl}>
	<h1 class="page-title">{pageTitle}</h1>
	<p>Меня зовут Евгений Кошелев. Я родился в Куйбышеве и живу в Самаре. При чём переезд мне ничего не стоил. В подростковом возрасте я познакомился с евангельскими церквами и вскоре осознанно обратился к живой вере в Евангелие, о том, что Иисус Христос, умер за мои грехи и воскрес для моего оправдания (ср. Рим. 4:25). Я также исповедую сотворение мира за 6 реальных дней. В полную буквальную богодухновенность и непогрешимость 66-ти книг Библии. В полную испорченность человека. В безусловное избрание. В спасение по благодати, по вере, через заместительную жертву Иисуса Христа. В сохранность святых. В отделение Израиля от Церкви.  В проповедь, как главный инструмент служения. В реальное Тысячелетнее Царство Мессии на земле. В Вечное Царство, которое придёт на смену Тысячелетнему Царству.</p>
	<p style="margin-bottom: 3rem;">С уважением и молитвой о Вас,<br>Евгений Кошелев.</p>
</MainLayout>
<style>
	p {
		margin-bottom: 3rem;
	}
</style>

