---
import '../styles/reset.css'
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'

const pageTitle = 'О проекте'
const imgUrl = './img/about.png'
---

<Layout pageTitle={pageTitle}>
	<h1 class="page-title">О проекте</h1>
	<p>Целью данного приложения является знакомство пользователей с содержанием и значением так называемых Мессианских Псалмов, к которым чаще всего относят следующие: 2, 8, 15, 21, 23, 39, 44, 67, 68, 71, 77, 78, 101, 108, 109, 117, 131. Выделить однозначные критерии для причисления псалмов к Мессианским достаточно трудно. Но для простоты можно считать, что псалом Мессианский, если авторы новозаветных книг цитировали какую-либо его часть в отношении Иисуса Христа или обстоятельств Его жизни и служения. Кстати, термины "Мессия" и "Христос" равноценны и означают "Помазанный". Слово "Мессия" восходит к соответствующему еврейскому корню, а "Христос" - к греческому. В данном приложении пользлвателю предоставляется возможность прочитать или прослушать текст проповедей на указанные псалмы. В перспективе данное приложение будет содержать проповеди на все Мессианские Псалмы. Но в настоящее время часть проповедей находится ещё на стадии составления.</p>
	<p>С уважением и с молитвой о Вас,<br>Евгений Кошелев.</p>
</Layout>
