---
const pageTitle = 'О проекте'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/psalms/">psalms</a>
		<a href="/about/">about</a>
		<h1>О проекте</h1>
        <p>Целью данного приложения является знакомство пользователей с содержанием и значением так называемых Мессианских Псалмов, к которым чаще всего относят следующие: 2, 8, 15, 21, 23, 39, 44, 67, 68, 71, 77, 78, 101, 108, 109, 117, 131. Выделить однозначные критерии для причисления псалмов к Мессианским достаточно трудно. Но для простоты можно считать, что псалом Мессианский, если авторы новозаветных книг цитировали какую-либо его часть в отношении Иисуса Христа или обстоятельств Его жизни и служения. Кстати, термины "Мессия" и "Христос" равноценны и означают "Помазанный". Слово "Мессия" восходит к соответствующему еврейскому корню, а "Христос" - к греческому. В данном приложении пользлвателю предоставляется возможность прочитать или прослушать текст проповедей на указанные псалмы. В перспективе данное приложение будет содержать проповеди на все Мессианские Псалмы. Но в настоящее время часть проповедей находится ещё на стадии составления.</p>
        <p>С уважением и с молитвой о Вас,<br>Евгений Кошелев.</p>
	</body>
</html>