---
import MainLayout from '../layouts/MainLayout.astro'

const pageTitle = 'О принципах толкования'
const imgUrl = '../img/hermeneutic.webp'
---

<MainLayout pageTitle={pageTitle} imgUrl={imgUrl}>
	<h1 class="page-title">{pageTitle}</h1>
	<p>В материалах этого приложения автор старался, в перую очередь, исследовать первоначальный авторский замысел Мессианских Псалмов в их первоначальном историческом контексте. Автор не поддерживает преимущественно аллегорический или преимуществено прообразный подход, когда ко всякой фразе подходят, безпричинно подозревая в ней прообраз или аллегорию. Впрочем автор понимает место аллегорий и прообразов, когда на это явно указывают тексты Нового Завета. Автор также не в восторге и от христологическго подхода к толкованию, когда пытаются усмотреть Христа "за каждым кустом". На это автор шутит, что можно видеть Христа за каждым кустом, но при условии, что куст будет горящим (ср. Исх. 3). В итоге, автор попытался разобрать Мессинские Псалмы с точки зрения первых слушателей, и только после этого переходил к текстам Нового Завета. которые цитируют Мессианские Псалмы. Таким образом, автор применял грамматико-исторический метод толкования в одинаковой мере как к текстам Ветхого, так и к текстам Нового Завета. Единственное, при толковании Пс. 21, автор не уделил достаточного внимания историческому контексту царя Давида, а сразу сосредоточился на Мессии. Но да простит и проверит меня читатель: все свои утверждения я старался подкреплять соответствующими текстами о Господе.</p>
	<p  style="margin-bottom: 3rem;">С уважением и молитвой о Вас,<br>Евгений Кошелев.</p>
</MainLayout>