---
import '../styles/reset.css'
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Banner from '../components/Banner.astro'
import PsalmCard from '../components/PsalmCard.astro'

const pageTitle = 'Мессианские Псалмы'
const allPsalms = await Astro.glob('./psalms/*.md')
---

<Layout pageTitle={pageTitle}>
	<Banner />
	<nav>
		<ol>
			<li><a href="/about/">О проекте</a></li>
		</ol>
		{ 
		allPsalms.map((psalm) => 
		<PsalmCard
		url={psalm.url}
		title={psalm.frontmatter.title}
		id={psalm.frontmatter.id}
		/>
		) }
	</nav>
</Layout>
