---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Psalms</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/psalms/">psalms</a>
		<a href="/about/">about</a>
		<h1>Страница Мессианских Псалмов</h1>
		<p>Здесь скоро появятся первые псалмы</p>
	</body>
</html>
