---
import '../styles/reset.css'
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'

const pageTitle = 'Мессианские Псалмы'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>Страница Мессианских Псалмов</h1>
		<p>!!!!!!!!!!!!!!!!!!!!Recreate this page to about techs!!!!!!!!!!!!!!!!!!!</p>
		<ul>
			<li><a href="/psalms/psalm-002">Псалом 2</a></li>
			<li><a href="/psalms/psalm-008">Псалом 8</a></li>
		</ul>
	</body>
</html>
