---
import '../styles/reset.css'
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'

const pageTitle = 'О технологиях проекта'
---

<Layout pageTitle={pageTitle}>
	<p>Проект "Мессианские Псалмы" выполнен на фреймворке Astro.</p>
	<p>С уважением и с молитвой о Вас,<br>Евгений Кошелев.</p>
</Layout>
