---

---
<div class="burger">
  <span class="line"></span>
</div>
<style>
    .burger {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      position: relative;
    } 

    .line,
    .line::after,
    .line::before {
      left: 0;
      position: absolute;
      width: 2rem;
      height: .2rem;
      transition: all .5s;
      background-color: var(--blue);
    }
    .line::after,
    .line::before {
      content: "";
    }
    .line::after {
      bottom: 0;
    }
    .line::before {
      top: 0;
    }
    .line {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }


    .close-burger .line {
      transform: ;
      background-color: var(--red);
    }
</style>