---
const links = [
{
        'href': '/technology/',
        'title': 'О технологиях',
        'target': '_self'
    },
    {
        'href': 'https://github.com/ujinthegrey/messianic-psalms-astro',
        'title': 'GitHub',
        'target': '_blank'
    },
    {
        'href': 'https://www.youtube.com/watch?v=z0IlXm70X2s&list=PLkBa4gMtrImjRO7fO-zpsMeJZjnyEGLf7',
        'title': 'YouTube',
        'target': '_blank'
    },
    {
        'href': 'https://forms.gle/5f1Za8AWMLpfhtbq5',
        'title': 'Форма обратной связи',
        'target': '_blank'
    },    
]
---
<footer class="full-width">
    <nav>
        <h2 class="hidden-title">Вспомогательная навигация</h2>
        <ul>
            {links.map((link) => <li><a href={link.href} target={link.target}>{link.title}</a></li>)}
        </ul>
    </nav>
    <p>&#169; {new Date().getFullYear().toString()} Eugene Koshelev</p>
</footer>
<style>
    footer {
        background-color: var(--dark);
        text-align: center;
        font-size: 1.25rem;
    }
    nav{
        margin-block: 3rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 1rem;
    }
    p {
        margin-bottom: 10rem;
    }
</style>

