---
const links = [
    {
        'href': 'https://github.com/ujinthegrey/messianic-psalms-astro',
        'title': 'GitHub'
    },
    {
        'href': 'https://www.youtube.com/watch?v=z0IlXm70X2s&list=PLkBa4gMtrImjRO7fO-zpsMeJZjnyEGLf7',
        'title': 'YouTube'
    },
]
---
<footer class="full-width contsnt-grid">
    <nav>
        <h2 class="hidden-title">Вспомогательная навигация</h2>
        <ul>
            {links.map((link) => <li><a href={link.href} target="_blank">{link.title}</a></li>)}
        </ul>
    </nav>
    <p>&#169; 2024 Eugene Koshelev</p>
</footer>
<style>
    footer {
        background-color: var(--dark);
        text-align: center;
        font-size: 1.25rem;
    }
    nav{
        margin: 2rem 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: .5rem 1rem;
    }
    p {
        margin-bottom: 4rem;
    }
</style>

