---
import Burger from "./Burger.astro"
import Navigation from "./Navigation.astro"
---
<div class="full-width content-grid header">
    <div class=".header-container">
        <a href="/" class="header-title">Мессианские Псалмы</a>
        <Burger />
        <Navigation/ >
    </div>
</div>
<style>
    .header {
        background-color: var(--dark);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height);      
    }
    .header-container {
        display: grid;
        grid-template-columns: [title-start]1fr [title-end, burger-start ] 2rem [burger-end];
    }
    .header-title {
        grid-column: title;
    }    
</style>