---
import PsalmItem from "./PsalmItem.astro"
const allPsalms = await Astro.glob('../pages/psalms/*.md')
---
<nav class="content-grid">
    <h1 class="hidden-title">Главная Навигация</h1>
    <ol>
        <li><a href="/about/">О проекте</a></li>
        { allPsalms.map((psalm) =>
            <PsalmItem
                url={psalm.url}
                id={psalm.frontmatter.id}
                title={psalm.frontmatter.title}
                description={psalm.frontmatter.description}
                client:visible
            />
         ) }

        <li><a href="/about-author/">Об авторе</a></li>
    </ol>
    <script>
        import '../scripts/descriptions.js'
    </script>
</nav>
<style>
    nav {
        margin: 2rem 0;
    }
    ol {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
</style>