---
const links = [
    {'href': '/about', 'title': 'О проекте'},
    {'href': '/technology', 'title': 'О технологиях пректа'},
    {'href': '/about-author', 'title': 'Об авторе'},
]
---
<nav class="full-width content-grid navigation hidden-nav">
    <h2 class="hidden-title">Главная навигация</h2>
    <ul class="nav-list">
        {links.map((link) => <li class="nav-item"><a href={link.href} class="nav-link">{link.title}</a></li>)}
    </ul>
</nav>