---
const { url, id, title, description = 'Увы, описание отсутствует :-(' } = Astro.props
---
<li>
    <a href={url}>
        Псалом {id.replace(/^0+/, '')} {title}
    </a>
    <br>
    <button class="desctiption-btn">Открыть описание</button>
    <p class="description hidden-description">{description}</p>
</li>
<style>
    button {
        min-width: 20rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        font-size: 1.25rem;
        border: solid 2px var(--lightgray);
        border-radius: .5rem;
    }
    .description {
        margin: 1rem 0;
    }
    .hidden-description {
        margin: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -1000;
    }
</style>
