---
const { url, id, title, description = 'Увы, описание отсутствует :-(' } = Astro.props
---
<li>
    <a href={url}>
        Псалом {id.replace(/^0+/, '')} {title}
    </a>
    <br>
    <button class="desctiption-btn">Открыть описание</button>
    <p class="description hidden-description">button + script = {description}</p>
    <details>
        <summary>Описание</summary>
        <p class="detailis-description">details + summary + p = {description}</p>
    </details>
</li>
<style>
    button,
    summary {
        color: var(--green);
        width: 15rem;
        padding: 1rem 0;
        margin-top: 1rem;
        font-size: 1rem;
        border: solid 2px var(--lightgray);
        border-radius: .5rem;
        display: flex;
        justify-content: center;
    }
    .description,
    .detailis-description {
        margin: 1rem 0;
    }
    .hidden-description {
        margin: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -1000;
    }
</style>
