---
import '../styles/reset.css'
import '../styles/global.css'
/* Adding ViewTransitions breacks description-btns interactivity, so I decide to use details tag instead of btns + script. It also broke player feachers. So I decide not to use ViewTransitions. Alas! */
/* import { ViewTransitions } from "astro:transitions" */
import Navigation from '../components/Navigation.astro'
import Banner from '../components/Banner.astro'
import Footer from '../components/Footer.astro'

const { pageTitle, imgUrl } = Astro.props
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- Alas! It breacks all scripts. Don't use ViewTransitions. -->
		<!-- <ViewTransitions /> -->
	</head>
	<body class="content-grid">
		<Navigation />
		<Banner imgUrl={imgUrl} />
		<slot />
		<Footer />		
	</body>
</html>

