---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout pageTitle={frontmatter.title}>
	{ frontmatter.audio && <audio src={frontmatter.audio} controls/> }	
	<p>{frontmatter.author}</p>	
	<slot />
</Layout>